/* CSS Document */
.red12pxbold{ color:#9c0016;font-weight:bold;}
.red12px{ color:#9c0016;}
.red14pxbold{ color:#9c0016;font-weight:bold; font-size:14px;}
.gray12px{ color:gray;}
.blue14pxbold{ color:#234664; font-size:14px; font-weight:bold;}
.blue12px{ color:#1f4665;}
.black14pxbold{ color:#000; font-size:14px; font-weight:bold;}
.black12pxbold{ color:#000; font-weight:bold;}